# строки начинающиеся на # - это комментарии, они не учитываются

# Исключить все файлы с расширение .a
.a

# Но отслеживать файл lib.a даже если он подпадает под исключение выше
!lib.a

# Исключить файл TODO в корневом каталоге, но не файл в subdir/TODO
/TODO

# Игнорировать файл doc/notes.txt, но не файл doc/server/arch.txt
doc/*.txt

# Игнорировать все .txt файлы в каталоге doc/
doc/**/*.txt

### VS Code ###
.vscode/
.vs/

### PyCharm ###
.idea/
__pycache__/
.venv/
.mypy_cache/
.pytest_cache/

### Исключить все файлы ###
GIT_CONFIG*
config*
PROJECTS_LYR*

### Исключить все файлы с расширение ###
*.log
*.egg-info
*.ipynb_checkpoints

### Исключить все файлы с расширение в корневом каталоге ###
/*.bat

### Игнорировать все файлы в каталогах ###
# Игнорировать все файлы в каталоге build/
LOGS/
LOG/
OUT/
EXE/
DIST/
BUILD/
JUNIT/
# DOC/
WORK/

###  Secrets ### 
env_file
*.env
*.key
*.cer
*.crt
*.pfx
